.container {
  /* border: 1px red solid;  */
  display: flex;
  justify-content: space-between;
  max-width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link:hover {
  fill: #e47911;
}

.icon:hover {
  fill: #e47911!important;
}

.LeadsFormContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}