/* Filter-nav */
.filterMessage,
.filterItem {
  color: #333333;
}
.filterMessage {
  font-size: 18px;
  font-weight: 500;
}
.filterTitle,
.filterItem {
  font-size: 14px;
}
.filterTitle {
  color: #545b64;
  font-weight: 500;
}

/* Order-by */
.orderByDropdown {
  right: 76px;
  width: 260px;
  margin-bottom: 10px;
}
.orderByOptionItem:hover,
.orderByOptionItem--selected {
  background: #f1faff;
}
.orderByOptionItem--selected {
  border: 1px #ffa500 solid;
  color: #333333;
  border: 1px solid #00a1c9;
}
.orderByOptionsContainer {
  top: 55px;
}

/* Gallery Products */
.galleryItem--gallery-search-result {
  margin: 10px 50px 20px 10px;
  width: 300px;
  height: 400px;
  background: #ffffff;
  border-top: #232f3e solid 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.04);
  color: #333333;
  line-height: 22.4px;
}

/* Search Not Found */
.notFound--layout{
  margin-top: 40px;
}
.searchResultContainer--search-notfound{
  padding: 30px;
}
.buttonShowMore :global(.vtex-button) {
  border: 1px #e47911 solid;
  color: #ffffff;
}
.buttonShowMore :global(.vtex-button):hover {
  border: 1px #d1700f solid;
  background:#da740f;
  color: #ffffff;
} 

/* Search Reasult On Mobile */
@media (max-width: 1024px) {
  .filtersWrapperMobile--filter-nav-search-result {
    margin: 10px 0 0 0;
    height: 30px;
    background-color: #ec7211;
    background-image: linear-gradient(180deg, #f67c1b 0, #e15500);
    border: 1px solid;
    border-radius: 3px;
    border-color: #e76d0c #e15500 #e15500;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 20%);
  }
  .filterPopupTitle--filter-nav-search-result {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  .filterIcon--filter-nav-search-result {
    display: none;
    visibility: hidden;
  }
  .filterBreadcrumbsText--filter-nav-search-result,
  .filterBreadcrumbsItemName--filter-nav-search-result{
    font-size: 18px;
    color: #333333
  }
  .caretIcon--filter-nav-search-result {
    color: #e47911;
    padding-left: 8px;
  }
  .orderByButton {
    justify-content: center;
  }
  .orderByDropdown {
    width: 100%;
    right: 0;
  }
  .galleryItem--gallery-search-result {
    margin: 10px 10px 20px 10px;
    flex-basis: 47% !important;
  }
  .buttonShowMore {
    margin-top: 10px;
  }
  .buttonShowMore :global(.vtex-button) {
    width: 50%;
    height: 40px;
  }
}
@media (max-width: 499px) {
  .galleryItem--gallery-search-result {
    margin: 10px 10px 20px 10px;
    flex-basis: 100% !important;
  }
  .buttonShowMore :global(.vtex-button) {
    width: 100%;
  }
}
