/*shelf home */
.container--shelf-home {
  max-width: 280px;
  height: 270px;
  border: 1px solid #d5dbdb;
  border-radius: 0;
}
.nameContainer--name-summary-home {
  padding-bottom: 15px;
}
.image--image-summary-home {
  height: 100px;
}

/*Search Result Page*/
.brandName--product-name-search-result {
  color: #007dbc;
  font-size: 20px;
  font-weight: 400;
}
.imageContainer--image-search-result,
.image--image-search-result {
  max-height: 70px;
}
.description--description-search-result {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
}
.element--container-summary-search-result {
  justify-content: space-between;
}
.element--container-summary-search-result :global(.vtex-button){
  align-self: self-end;
  background-color: #ec7211;
  background-image: linear-gradient(180deg, #f67c1b 0, #e15500);
  border: 1px solid;
  border-radius: 3px;
  border-color: #e76d0c #e15500 #e15500;
  box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 20%);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.element--container-summary-search-result :global(.vtex-button):hover {
  background-color: #ec7211;
  background-image: linear-gradient(180deg, #ec791a 0, #d65302);
  box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 20%);
}
