/* Header Link */
.link.link--header,
.link.link--header:hover {
  text-decoration: none;
}
.link.link--header {
  color: #dddddd;
  padding-right: 8px;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 400;
}
.link.link--header:hover {
  color: #f8991d;
}

/* Footer link */
.link--link-col,
.link--link-group {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
.link--link-col {
  margin-bottom: 5px;
}
.link--link-col:hover{
  color: #e47911;
}
.link--link-group {
  margin-bottom: 50px;
}