.container {
    border-top: 4px solid #232F3E;
    background-color: #fff;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    padding: 0 2rem;
    margin: 0 .8rem;
}

.container--all-products{
    border-top: none;
    background-color: transparent;
    box-shadow:none;
    padding-right: 0;
}

.strong {
    color: #007eb9;
    font-weight: 700;
}

.link {
    color: #007eb9;
    text-decoration: none;
}

.link:hover {
    color: #eb5f07;
}
