
/*Flex Layout Header*/
.flexRowContent.flexRowContent--header {
  background-color: #232F3E;
  padding-left: 30px;
  padding-right: 40px;
  justify-content: space-between;
}

.flexRowContent.flexRowContent--header-mobile {
  background-color: #232F3E;
  padding-left: 18px;
  padding-right: 18px;
  justify-content: space-between;
}

.flexCol.flexCol--header,
.flexCol.flexCol--header-mobile {
  flex-direction: row;
  align-items: center;
}

/*Flex Layout Search Result*/
.flexRow--container-desktop {
  margin: 20px auto 40px;
  max-width: 1280px; 
}
.flexRow--container-mobile{
  margin-bottom: 40px;
}

/*Flex Layout About Us*/
.flexCol--col-about-us {  
  max-width: 859px;
  margin-bottom: 60px;
}

/*Flex Layout Footer*/
.flexRowContent--footer-content {
  max-width: 100%;
}
.flexCol--footer-content-col1 {
  max-width:240px;
}
.flexCol--footer-content-col1-desktop {
  max-width:300px;
}
.flexCol--footer-content-col2{
  max-width:320px;
}

.flexRowContent--footer-copyright {
  background: #EAEDED;
  width: 100%;
}

.flexRowContent--row-social-media {
  width: 200px;
}

.flexCol--content-col1-mobile  {
  max-width: 450px;
}


