.footerLayout {
  background-color: #242F3E;
  color: #fff;
}

.footerSpacer--spacer2 {
  height:50px;
}

.footerSpacer--spacer-end {
  height: 75px;
}
.footerSpacer--spacer-end-mobile {
  height: 20px;
}