/* Flex Layout Header */
.flexRowContent.flexRowContent--header,
.flexRowContent.flexRowContent--header-mobile {
  background-color: #232f3e;
  justify-content: space-between;
}
.flexRowContent.flexRowContent--header {
  padding-left: 30px;
  padding-right: 40px;
}
.flexRowContent.flexRowContent--header-mobile {
  padding-left: 18px;
  padding-right: 18px;
}
.flexCol.flexCol--header,
.flexCol.flexCol--header-mobile {
  flex-direction: row;
  align-items: center;
}

/* Flex layout search result */
.flexRow--container-desktop {
  margin: 20px 93px;
  max-width: 1350px; 
}
.flexRow--container-mobile{
  margin: 30px;
}

/* Flex Layout About Us */
.flexCol--col-about-us {  
  max-width: 859px;
  margin-bottom: 60px;
}

/* Flex Layout Footer */
.flexRowContent--footer-content {
  max-width: 100%;
}
.flexCol--footer-content-col1 {
  max-width:240px;
} 

.flexCol--footer-content-col1,
.flexCol--footer-content-col2{
  max-width:70%;
}
.flexCol--footer-content-col1-desktop {
  max-width:300px;
}

.flexCol--footer-content-col2{
  max-width:320px;
}
.flexRowContent--footer-copyright {
  background: #eaeded;
  width: 100%
}
.flexRowContent--row-social-media {
  width: 200px;
}
.flexCol--content-col1-mobile  {
  max-width: 450px;
}

/* Flex Layout Leads Form */
.flexRowContent--leads-form-section {
  padding: 50px 20px 20px;
  max-width: 720px;
  margin: 0 auto;
}
.flexCol--leads-form-description {
  border-right: 1px solid #d5dbdb;
  padding-right: 30px;
  margin-right: 30px;
}
@media (max-width: 720px) {
  .flexCol--leads-form-description {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
}

/* Home Products Slider */
.flexRowContent--price {
  justify-content: center;
  color: #333333;
  font-size: 30px;
  font-weight: 600;
}

/* Product page */
.flexCol--productOne{
  width: 50%;
  padding: 50px;
  border-top: 5px solid #232f3e;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.29);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.29);
}
.flexColChild--productOne{
  margin: 10px 0;
}
.flexCol--productOne :global(.vtex-button) {
  background-color: #ec7211;
  background-image: linear-gradient(180deg,#f67c1b 0,#e15500);
  color: #ffffff;
  border-color: #f47818;
}
.flexCol--productOne :global(.vtex-button):hover {
  background-color: #eb5f07;
  background-image: linear-gradient(180deg,#e76d0c 0,#d74b00);
}

/* Category Cards */
.flexRow--category-card-row1,
.flexRow--category-card-row2 {
  background-color:  #f2f4f4;
}
.flexRow--category-card-row1 {
  padding: 50px 60px 5px;
}
.flexRow--category-card-row2 {
  padding: 0 60px 50px;
}
